.description {
    color: aliceblue;
    margin: 10px;
}

.name-card {
    background-color: rgb(253, 246, 245);
    color: black;
    font-family: Garamond, serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 60%; /* Image width for responsiveness */
    max-width: 700px; /* Max image width */
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 20px auto;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.name-card:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* More prominent shadow */
}

.name-card img {
    border-radius: 4px; /* Slight rounding of image corners */
    margin-bottom: 10px;
    width: 40%;
    height: auto;
}

.name-card p {
    margin: 5px 0;
    font-size: 14px; /* Slightly smaller text for a professional look */
    font-weight: 400; /* Regular font weight for text */
}

.name-card button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.name-card button:hover {
    color: gray; /* Subtle hover effect for button */
}

.card-preview p {
    font-size: 50px;
}

.card-details {
    margin-top: 12px;
    animation: fadeIn 0.3s ease-in-out;
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}